@page "/"
@using Skladala.Persistence.Models;



<PageTitle>Index</PageTitle>



 <h3 class="mb-5">Products</h3>


<div class="input-group rounded mb-3">
    <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" @bind="@SearchName" />
    <button type="button" class="btn btn-outline-secondary data-mdb-ripple-init" @onclick="(async () => await Search(SearchName))">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
        </svg>
    </button>

</div>

<div class="mb-3">
    <select class="custom-select form-control" id="inputGroupSelect02" @bind="@Category">
        <option value="0" selected>All</option>
        <option value="1">Name</option>
        <option value="2">Manufacturer</option>
        <option value="3">Quantity </option>
        <option value="4">Cost</option>
    </select>

</div>
<button type="button" class="btn btn-warning" @onclick="(() => Sort())">Sort</button>
<div class="input-group rounded mb-3">
    <div>
        <span >Food Product</span>
        <input class="ms-1" type="checkbox" aria-label="Checkbox for following text input" @bind="@IsFoodProduct" @onclick="(async () => await TypeProduct())">
    </div>
    <div class="ms-3">
        <span >Nonfood Product</span>
        <input class="ms-1" type="checkbox" aria-label="Checkbox for following text input" @bind="@IsNonfoodProduct" @onclick="(async () => await TypeProduct())">
    </div>
    <div class="ms-3">
        <span>Quantity Product: @QuantityProduct</span>
    </div>
</div>


@if (fullProductCatalogs != null && fullProductCatalogs.Count() > 0)
{
    <div class="row  mt-3">
        @foreach (var product in fullProductCatalogs)
        {
            <div class="col-md-3 mb-2" >
                <a >
                    <div class="card">
                        <div class="row">
                            <div class="card-body" >
                                <div @onclick="(() => OpenModelForm(product))">
                                    <h5 class="card-title mb-3">
                                        @product.Name
                                    </h5>
                                    <p>
                                        Quantity: @product.Quantity
                                    </p>
                                    <div class="input-group rounded">
                                        <p>Type product: &nbsp;</p>
                                        @if (@product.IsFoodProduct == true)
                                        {
                                            <p>Food product</p>
                                        }
                                        else{
                                            <p>Nonfood product</p>
                                        }
                                    </div>

                                    @if(product.ChangedPrice != 0)
                                    {
                                        @if (@product.IsFoodProduct == true)
                                        {
                                            <p class="text-danger">The validity period is coming to an end</p>
                                        }
                                        else
                                        {
                                            <p class="text-danger">Exceeded dimensions.</p>
                                        }
                                        <p class="card-text">
                                            <b>@product.ChangedPrice.ToString("C")</b>
                                        </p>
                                    }
                                    else{
                                        <p class="card-text">
                                            <b>@product.Cost.ToString("C")</b>
                                        </p>
                                    }
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <button class="btn btn-danger form-control" @onclick="(async () => await SubtractOneProduct(product))">-</button>
                                    </div>
                                    <div class="col-sm-6">
                                        <button class="btn btn-success form-control" @onclick="(async () => await AddOneProduct(product))"> +</button>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                                            
                </a>
            </div>
        }
    </div>

}

@if (modalForm)
{
    <ModalView TitleText="Product" Close="(() => CloseModelForm())" Create="(async () => await Update(ModalProduct))">
        <BodyContent>
           @* Name *@
            <div class="input-group">
                <p class="col-form-label">Name:&nbsp; </p>
                <p class="col-form-label">@ModalProduct.Name</p>
            </div>
            @* Quantity *@
            <div class="form-group row">
                <label for="inputQuantity" class="col-sm-2 col-form-label">Quantity:&nbsp;</label>
                <div class="col-sm-10">
                    <input type="number" class="form-control" id="inputQuantityt" @bind="@ModalProduct.Quantity">
                </div>
            </div>
            @* Manufacturer *@
            <div class="input-group">
                <p class="col-form-label">Manufacturer:&nbsp; </p>
                <p class="col-form-label">@ModalProduct.Manufacturer</p>
            </div>

            <div class="input-group rounded">               
                @if (@ModalProduct.IsFoodProduct == true)
                {
                    @* Type product *@
                    <div class="input-group">
                        <p class="col-form-label">Type product:&nbsp; </p>
                        <p class="col-form-label">Food product</p>
                    </div>
                    @* Weight *@
                    <div class="input-group">
                        <p class="col-form-label">Weight:&nbsp; </p>
                        <p class="col-form-label">@ModalProduct.Weight</p>
                    </div>
                    @* DateManufacture *@
                    <div class="input-group">
                        <p class="col-form-label">Manufacture Date:&nbsp; </p>
                        <p class="col-form-label">@ModalProduct.DateManufacture</p>
                    </div>
                    @* ExpirationDate *@
                    <div class="input-group">
                        <p class="col-form-label">Expiration Date:&nbsp; </p>
                        <p class="col-form-label">@ModalProduct.ExpirationDate</p>
                    </div>
                }
                else
                {
                    @* Type product *@
                    <div class="input-group">
                        <p class="col-form-label">Type product:&nbsp; </p>
                        <p class="col-form-label">Nonfood product</p>
                    </div>
                    @* Width *@
                    <div class="input-group">
                        <p class="col-form-label">Width:&nbsp; </p>
                        <p class="col-form-label">@ModalProduct.Width</p>
                    </div>
                    @* Height *@
                    <div class="input-group">
                        <p class="col-form-label">Height:&nbsp; </p>
                        <p class="col-form-label">@ModalProduct.Height</p>
                    </div>
                }
            </div>
            @* Cost *@
            <div class="form-group row">
                <label for="inputCost" class="col-sm-2 col-form-label">Cost</label>
                <div class="col-sm-10">
                    <input type="number" class="form-control" id="inputCost" @bind="@ModalProduct.Cost">
                </div>
            </div>
            <button type="button" class="btn btn-warning" @onclick="(() => Delete(ModalProduct))">Delete</button>
        </BodyContent>
    </ModalView>
}

@if (modalError)
{
    <ModalViewError TitleText="Error" Close="(() => modalError = false)">
        <BodyContent>
            <h5 class="text-danger">@ErrorMessage</h5>
        </BodyContent>
    </ModalViewError>
}

@code
{
    private bool modalError = false;
    private string ErrorMessage = "";

    private int Category;
    private string SearchName = "";
    private bool IsFoodProduct = false;
    private bool IsNonfoodProduct = false;
    private bool modalForm = false;
    private int QuantityProduct = 0;
    private AllProductDto ModalProduct = new();
    private List<AllProductDto> fullProductCatalogs { get; set; }

    [Inject]
    public ProductServices productServices { get; set; }


    protected override async Task OnInitializedAsync()
    {
        await LoadProduct();
    }
    private void CountingAmountProduct()
    {
        QuantityProduct = 0;
        foreach (var item in fullProductCatalogs)
        {
            QuantityProduct += item.Quantity;
        }
    }
    private async Task AddOneProduct(AllProductDto product)
    {

        product.Quantity++;
        await Update(product);

    }
    private async Task SubtractOneProduct(AllProductDto product)
    {
        if (product.Quantity > 0)
        {
            product.Quantity--;
            await Update(product);
        }
    }
    private async Task Sort()
    {
        List<AllProductDto> newProductCatalog = new();
        if ((Category == 0 || Category == 1))
        {
            newProductCatalog = fullProductCatalogs.OrderBy(x => x.Name).ToList();
        }
        else if (Category == 2)
        {
            newProductCatalog = fullProductCatalogs.OrderBy(x => x.Manufacturer).ToList();
        }
        else if (Category == 3)
        {
            newProductCatalog = fullProductCatalogs.OrderBy(x => x.Quantity).ToList();
        }
        else if (Category == 4)
        {
            newProductCatalog = fullProductCatalogs.OrderBy(x => x.Cost).ToList();
        }
        fullProductCatalogs = newProductCatalog;
    }
    private async Task Delete(AllProductDto productDto)
    {
        await productServices.DeleteAsync(productDto.Id);
        fullProductCatalogs.Remove(productDto);
        CountingAmountProduct();
        CloseModelForm();
    }
    private async Task Update(AllProductDto productDto)
    {

        if (productDto.Cost >= 0 && productDto.Quantity >= 0)
        {
            await productServices.UpdateAsync(productDto);
            CountingAmountProduct();
            CloseModelForm();
        }
        else
        {
            ErrorMessage = "Non valid data";
            modalError = true;
        }
        await LoadProduct();

    }
    private void OpenModelForm(AllProductDto productDto)
    {
        modalForm = true;
        ModalProduct = productDto;
    }
    private void CloseModelForm()
    {
        modalForm = false;
        ModalProduct = new();
    }
    private async Task LoadProduct()
    {
        fullProductCatalogs = await productServices.GetAsync();
        CountingAmountProduct();
    }
    private async Task TypeProduct()
    {
        fullProductCatalogs.Clear();
        var products = await productServices.GetAsync();
        foreach (AllProductDto product in products)
        {
            if (IsFoodProduct || IsNonfoodProduct)
            {
                if (IsFoodProduct)
                {
                    if (product.IsFoodProduct == true)
                    {
                        fullProductCatalogs.Add(product);
                    }
                }
                if (IsNonfoodProduct)
                {
                    if (product.IsFoodProduct == false)
                    {
                        fullProductCatalogs.Add(product);
                    }
                }
                CountingAmountProduct();
            }
            else
            {
                await LoadProduct();
            }
        }
    }
    private async Task Search(string search)
    {
        if (search.Replace(" ", "") != "")
        {
            fullProductCatalogs.Clear();
            var products = await productServices.GetAsync();
            foreach (AllProductDto product in products)
            {
                if (IsFoodProduct && !IsNonfoodProduct)
                {
                    if (product.IsFoodProduct == true)
                    {
                        await SearchText(product,search);
                    }
                }
                else if (IsNonfoodProduct && !IsFoodProduct)
                {
                    if (product.IsFoodProduct == false)
                    {
                        await SearchText(product, search);
                    }
                }
                else
                {
                    await SearchText(product, search);
                }


            }
        }
        else
        {
            await LoadProduct();
        }
    }
    private async Task SearchText(AllProductDto product, string search)
    {
        if ((product.Name.Length >= search.Length
        && product.Name.ToLower().Substring(0, search.Length).Equals(search.ToLower()))
        && (Category == 0 || Category == 1)
        )
        {
            fullProductCatalogs.Add(product);
        }
        else if ((product.Manufacturer.Length >= search.Length
        && product.Manufacturer.ToLower().Substring(0, search.Length).Equals(search.ToLower()))
        && (Category == 0 || Category == 2)
        )
        {
            fullProductCatalogs.Add(product);
        }
        else if ((product.Quantity.ToString().Length >= search.Length
        && product.Quantity.ToString().ToLower().Substring(0, search.Length).Equals(search.ToLower()))
        && (Category == 0 || Category == 3)
        )
        {
            fullProductCatalogs.Add(product);
        }
        else if ((product.Cost.ToString().Length >= search.Length
        && product.Cost.ToString().ToLower().Substring(0, search.Length).Equals(search.ToLower()))
        && (Category == 0 || Category == 4)
        )
        {
            fullProductCatalogs.Add(product);
        }
        CountingAmountProduct();
    }


}